# Virtual environment
chatbot_env/
venv/
.venv/

# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# notes
notes/
.notes/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Windows
Thumbs.db