streamlit
python-dotenv
requests
psycopg[binary]
psycopg_pool
psycopg2-binary

langchain-core
langchain-community
langchain-experimental
langchain-groq
langchain-google-genai
langchain-postgres
langchain-text-splitters
langgraph
langgraph-checkpoint-postgres

wikipedia
ddgs
pypdf
